<div>
	<ul id="products">
		{{#each products}}
			<li>
				<div>
					<p class="title">{{this.title}}</p>
					<p class="description">{{this.description}}</p>
					<p class="price">{{this.price}}</p>
					<p class="code">{{this.code}}</p>
					<p class="stock">{{this.stock}}</p>
				</div>
			</li>
		{{/each}}
	</ul#>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>